<h1>About A.R.G.U.S</h1>

<div class="history">
  <h2>History</h2>
  <br>
  <br>
  <p>In the wake of Darkseid's attack on Prime Earth,
    and the formation of the Justice League, the American
    government created an agency called the Advanced Research
    Group Uniting Superhumans, to handle all of the spillover
    from Justice League missions, and handle the debris afterwards.
    The agency's first head was Steve Trevor, for his military record
    and his history with Wonder Woman. He accepted, and A.R.G.U.S.
    officially came into existence the next day.</p>
    <br>
    <p>Over the next five years, A.R.G.U.S. served honourably, liaising with the Justice League to build and supply The Watchtower, taking control of the Red Room and the Black Room, overseeing the creation of the Circus in Detroit (full of interdimensional visitors through the hole left by Darkseid's arrival) and Belle Reve, the nation's supervillain prison. Trevor recruited from his former squadmates in Team 7, hiring Amanda Waller and John Lynch.

However, during the aftermath of the David Graves incident, A.R.G.U.S. got a new director in Amanda Waller, the head of Task Force X. This resulted in a more aggressive stance against threats such as superhuman trafficking, Basilisk, and the Secret Society, seeding agents into enemy ranks. These tactics proved useless in the face of the Secret Society's conspiracy, however, and the agency was crippled by an attack from the Crime Syndicate and Secret Society.

In the aftermath of the Crime Syndicate's attack, Steve Trevor was the highest-ranking field agent again, and vowed to change it into something cleaner. Some time later, Trevor stepped down as head of A.R.G.U.S. and Sasha Bordeaux took his place.</p>

  </div>


<div class="image">
  <img src="https://vignette.wikia.nocookie.net/arrow/images/d/df/A.R.G.U.S._logo.png/revision/latest?cb=20130405060018" alt="Argus Logo">
</div>
