<form action="/heroes/new" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Enter name..." required>

  <label for="secret_identity">Secret Identity:</label>
  <input type="text" name="secret_identity" id="secret_identity" placeholder="Enter secret indentity...">

  <label for="skill">Skill:</label>
  <input type="text" name="skill" id="skill" placeholder="Enter skill...">

  <label for="squad">Squad:</label>
  <select name="squad_id">

    <% @squads.each do |squad| %>
      <option value="<%= squad.id %>"><%= squad.name %></option>
    <% end %>

  </select>

  <input type="submit" value="Submit">

</form>
