<form action="/squads/new" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="logo_url">Logo:</label>
  <input type="text" name="logo_url" id="logo_url">

  <input type="submit" value="Submit">
</form>
